services:
  - type: web
    name: college-predictor
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python database/init_db.py
      python model_training.py
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true